<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BENEFICIOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="titulo">Beneficios para vos..</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://media0.giphy.com/media/XNdfVxbgLcON7Xnugs/giphy.gif?cid=6c09b952wylal1hf9ftebfllt8bg6hqxza4yr0q7phxeb6m7&ep=v1_stickers_related&rid=giphy.gif&ct=s" />
    <ion-card-header>
      <ion-card-title>ENVIO GRATIS</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Para que disfrutes tu beneficio, con tu compra superior a $50.000, obtene tu envio gratis!
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://static.vecteezy.com/system/resources/previews/022/604/168/non_2x/3d-number-percentage-gold-style-png.png" />
    <ion-card-header>
      <ion-card-title>DESCUENTO</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Para que disfrutes tu beneficio, con tu compra superior a $80.000, obtene un descuento de $20.000!
    </ion-card-content>
  </ion-card>
</ion-content>

