<ion-header [translucent]="true">
  

</ion-header>


<ion-content [fullscreen]="true">

  <img src="https://lh5.googleusercontent.com/fb2dYyuyKsOUnIAKC-OLVNTw5ckhsWIL-jrk3DnNEw_NZMoctH8dwKoYhq2c8Vb_DAmJ1olZdIx8NeY1dPd3lBFT9WNK8UOjqWf5nKbixb5u3LWZ4oRjfVtEHRj9LtFAOQ=w1280" alt="" class="logo" width="250"> 
  
  <section>
    <ion-button color="medium" size="small" shape="round" [routerLink]="['/categorias/Make up']" routerLinkActive="router-link-active" >Make up</ion-button>
    <ion-button color="medium" size="small" shape="round" [routerLink]="['/categorias/Skincare']" routerLinkActive="router-link-active" >Skincare</ion-button>
    <ion-button color="medium" size="small" shape="round" [routerLink]="['/categorias/Fragancias']" routerLinkActive="router-link-active" >Fragancias</ion-button>
  </section>
  
  <section class="cartelito">
  <ion-card>
    <img alt="SETS" src="https://www.sephora.com/contentimages/2023-q4-fragrance-site-desktop-mobile-rwd-hero-banner-US-image-only-2850-release.jpg?imwidth=1090" />
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle>Te mostramos un adelanto de la nueva sección que se van a sumar Skinchic y es Sets.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      A partir del 15/12/2023 hasta el 15/04/2024.
    </ion-card-content>
  </ion-card>
</section>

   <ion-header collapse="condense">
  </ion-header>
  
</ion-content>